.main_box {
  background-color: rgb(249, 243, 243) !important;
}

@media screen and (max-width: 576px) {
  .sidebar {
    width: 30% !important;
  }
}

@media screen and (max-width: 576px) {
  .maincate {
    width: 60% !important;
  }
}
